.container {
    display: flex;
    width: 406px;
    height: 606px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 2px black;
}

.row {
    display: flex;
    flex-direction: row;
}

.button {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: solid 1px black;
}

.button-clear {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 202px;
    height: 100px;
    border: solid 1px black;
}

.display {
    width: 406px;
    height: 100px;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

